# configuration
/config/**/*
!/config/**/*.example*
!/config/**/*.rb
!/config/**/*.erb
!/config/nginx
!/config/nginx/snippets
!/config/nginx/snippets/*.example*
!/config/nginx/snippets/ssl-params.conf
!/config/nginx/sites
!/config/nginx/sites/*.example*
!/config/processors

# temp
.sass-cache/
/log/
/tmp/
*.bak
*~

# uploaded files
#/public/files

# dumps
/db/dumps/**/*

# seo files
#/views/site/sitemap.html
#/public/robots.txt

# node modules
/node_modules/

# compiled assets
/public/styles/main.css
/public/styles/main.css.map
/public/scripts/compiled/
