<section
	class="timer"
	<% if only_countup %>data-only-countup="true"<% end %>
	<% if display_countup_time %>data-display-countup-time="true"<% end %>
	style="<%= styles %>"
>
	<div>
		<% if display_countdown_information %>
			<%= render :_time_with_text, countdown_information: true %>
		<% end %>
		<%= render :_time_with_text %>
	</div>
</section>
