.configuration {
	margin-bottom: 2em;

	form {
		width: max-content;

		fieldset {
			&.time {
				label {
					display: inline;

					+ label {
						margin-left: 0.5em;
					}

					input {
						margin-left: 0;
						margin-right: 0.1em;

						&[max="59"] {
							width: 4em;
						}

						&:not([max]) {
							width: 6em;
						}
					}
				}
			}

			&.configuration_key {
				> div {
					display: flex;

					> input {
						flex-grow: 1;
						font-family: monospace;
					}

					> button {
						margin-left: 0.4em;
					}
				}
			}

			label {
				&.opacity {
					> span > * {
						vertical-align: middle;
					}

					input {
						width: 15em;
					}
				}
			}
		}

		fieldset ~ button {
			padding: 0.3em 0.8em;
			font-size: 1.1em;
		}
	}
}
