@import "configurations/form";
@import "configurations/load";
@import "configurations/user-key";

.configurations > ul {
	width: max-content;
	max-width: 100%;
	text-align: initial;

	> li {
		margin: 1.2em 0;

		> h3 {
			margin: 0;
		}

		> p {
			margin: 0.4em 0;

			&.dates {
				color: $disabled-text-color;
			}
		}
	}
}
