&.dark-theme {
	@import "../lib/button-background-color";

	body {
		$common-text-color: white;

		--color: #{$common-text-color};
		--background-color: #151515;

		//// Inputs
		$input-background-color: #444;

		--input-background-color: #{$input-background-color};

		$input-text-color: $common-text-color;

		--input-border-color: #555;

		> header {
			background-color: #333;

			&,
			a {
				color: $accent-text-color;
			}
		}

		a {
			color: $accent-text-color;
		}

		@include disabled-styles {
			color: color.adjust($input-text-color, $lightness: -20%);
			background: color.adjust($input-background-color, $lightness: 4%);
		}

		button {
			@include button-background-color(#444, $dark-theme: true);

			&.primary {
				@include button-background-color($accent-background-color, $dark-theme: true);
			}

			&.warning {
				@include button-background-color($warning-background-color, $dark-theme: true);
			}

			&.danger {
				@include button-background-color($danger-background-color, $dark-theme: true);
			}

			&.success {
				@include button-background-color($success-background-color, $dark-theme: true);
			}

			&.secondary {
				@include button-background-color($footer-background-color, $dark-theme: true);
			}

			// &.tertiary {
			// 	@include button-background-color($tertiary-background-color, $dark-theme: true);
			// }

			&.light {
				@include button-background-color(white, $dark-theme: true);
			}

			&.twitch {
				@include button-background-color($twitch-accent-color, $dark-theme: true);

				color: $twitch-text-color;
			}

			&.google {
				@include button-background-color($google-accent-color, $dark-theme: true);

				color: $google-text-color;
			}
		}
	}
}
