.flash {
	margin: 1em 0;
	font-weight: 600;
	line-height: 1.4em;

	&::first-letter {
		text-transform: capitalize;
	}

	&.notice {
		color: $success-text-color;
	}

	&.warning {
		color: $warning-text-color;
	}

	&.error {
		color: $error-color;
	}
}
