$header-logo-height: 66px;
$header-vertical-padding: 15px;
$mobile-header-logo-height: 42px;

> header {
	--header-top-padding: 0.4em;

	background-color: $accent-background-color;
	padding: var(--header-top-padding) 0 calc(var(--header-top-padding) + 0.2em);
	z-index: 7;

	&,
	a {
		color: black;
	}

	> .container {
		display: flex;
		align-items: center;

		a[href="/"] {
			display: flex;
			align-items: center;
			margin-right: 1em;

			> img {
				height: 36px;
				margin-right: 0.5em;
			}

			> h1 {
				margin: 0;

				@media screen and (max-width: 800px) {
					display: none;
				}
			}
		}

		nav {
			font-size: 1.2em;
			margin-top: 0.25em;

			> a {
				display: inline-block;
				padding: 0.8em;

				&.selected {
					font-weight: bold;
				}

				@media screen and (max-width: 600px) {
					padding: 0.4em;
				}
			}
		}

		button.theme-toggle {
			margin-left: auto;
			margin-right: 0;
			font-size: 1.6em;
			padding: 0 0.2em;
			background: transparent;
			border: none;
		}
	}
}
