.timer {
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	> div {
		transition: opacity 250ms ease-out;

		p {
			margin: 0;

			&.countdown-information {
				position: absolute;
				width: 100%;
				bottom: 100%;
				font-size: 0.4em;
			}
		}
	}
}
