[Unit]
Description=Stream Timer Server
After=network-online.target

# Uncomment for socket activation (see below)
# Requires=puma.socket

[Service]
# Foreground process (do not use --daemon in ExecStart or config.rb)
Type=simple

# The path to the your application code root directory.
WorkingDirectory=%h/stream_timer

# Helpful for debugging socket activation, etc.
# Environment=PUMA_DEBUG=1

ExecStart=%h/stream_timer/exe/systemd.sh

Restart=always

[Install]
WantedBy=multi-user.target
