// Accent
$accent-background-color: #b8c8dd;
$accent-text-color: color.adjust($accent-background-color, $lightness: -15%);

// Footer
$footer-background-color: #2a2a2a;
$footer-text-color: white;

// $tertiary-background-color: #ffffff;

// Text
$danger-background-color: color.adjust(red, $lightness: 15%);
$danger-text-color: red;
$error-color: $danger-text-color;
$warning-background-color: orange;
$warning-text-color: #e67e00; // darken(darkorange, 5%);
$success-background-color: #2db92d; // darken(limegreen, 5%);
$success-text-color: green;
$highlight-background-color: #eee;
$disabled-text-color: gray;

// Links
$link-text-color: color.adjust($accent-text-color, $lightness: -10%);

// Misc
$twitch-accent-color: #772ce8;

body {
	// Common
	--color: black;
	--background-color: #fafafa;

	// Inputs
	--input-text-color: var(--color);
	--input-background-color: white;
	--input-border-color: #ccc;
}
