$container_max_width: 1200px;

// $icon_size: 1em;

$common_border_width: 1px;

$common_border_radius: 0.45em;

$input_border_radius: $common_border_radius;
$input_border_width: $common_border_width;
$input_vertical_padding: 0.2em;
$input_padding: $input_vertical_padding 0.55em;
$input_line_height: 1.4em;

$button_border_radius: $input_border_radius;
