<%= render 'configuration/_form', action: :update %>

<%= render 'configuration/_load' %>

<section class="configuration new">
	<a href="<%= path_to :new %>"><h2><%= t.site.configuration.create.header %></h2></a>
</section>
