section.user.current {
	width: 100%;
	margin-bottom: 2em;

	$margin-between-header-and-dates: 0.4em;

	> h3 {
		margin-bottom: $margin-between-header-and-dates;
	}

	span.input {
		@include small-and-large-elements($small-element-on-right: true, $inline: true);
	}

	form#regenerate-user-key {
		display: none;
	}

	.dates {
		color: $disabled-text-color;
		margin-top: $margin-between-header-and-dates;
	}
}
