<section class="configurations">
	<h2><%= t.site.configurations.list.header %></h2>

	<ul>
		<% current_user.configurations.each do |configuration| %>
			<% configuration_key = configuration.configuration_key %>
			<li>
				<h3>
					<% if @action == :edit && @form.instance.configuration_key == configuration_key %>
						<%= configuration.name %>
					<% else %>
						<a href="<%= path_to :edit, configuration_key: configuration_key %>">
							<%= configuration.name %>
						</a>
					<% end %>
				</h3>
			</li>
		<% end %>
	</ul>
</section>
