<section class="configurations">
	<h2><%= t.site.configurations.list.header %></h2>

	<ul>
		<% current_user.configurations.each do |configuration| %>
			<% key = configuration.key %>
			<li>
				<h3>
					<% if params[:key] == key %>
						<%= configuration.name %>
					<% else %>
						<a href="<%= path_to :edit, key: key %>">
							<%= configuration.name %>
						</a>
					<% end %>
				</h3>
			</li>
		<% end %>
	</ul>
</section>
